<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCwHHq4agvQ24XjmK21vv7PgHTrVGR7vSQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1082428913470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nicquit</string>
	<key>PROJECT_ID</key>
	<string>nicquit-461b8</string>
	<key>STORAGE_BUCKET</key>
	<string>nicquit-461b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082428913470:ios:f74eff5a550fb0b18f5e6f</string>
</dict>
</plist>